.reports-slider
  +container()
  &__slide
    display: flex
    height: 0
    justify-content: flex-end
    opacity: 0
    transition: opacity 1s
    overflow: hidden
    &-img-col
      +col(4)
      display: flex
      align-items: center
      justify-content: center
    &-content-col
      +col(8)
    &-img-block
      width: 50%
      position: relative
      z-index: 1
      &::before
        content: ''
        position: absolute
        top: 10%
        left: -10%
        width: 100%
        height: 100%
        background-color: $accent-color
        z-index: -1
    &-img
      width: 100%
      box-shadow: -9.8px 23px 29px 0 rgba(0, 0, 0, 0.25)
    &-text
      line-height: 1.8
      margin-bottom: 4em
      width: 75%
    &-author
      font-size: .8em
      span
        text-transform: uppercase
        font-weight: 700
    &:first-child
      opacity: 1
      height: auto
