mixin index()
  +b.MAIN.index
    +b.SECTION.index-intro
      +e.IMG.bg(src="img/index/intro-bg.png")
      +e.DIV.container
        +e.DIV.content
          +e.H1.title Безпроводные наушники
          //- +e.DIV.devider
          //- +e.DIV.more Lorem ipsum dolor sit amet
        +e.IMG.img(src="img/index/intro-img.png")
    +b.SECTION.index-about
      +e.DIV.container
        +e.DIV.content
          +b.H3.section-title О нас
          +e.P.text Мы предлагаем только оригинальные беспроводные мини наушники True Wireless Stereo(TWS), а это значит, что у нас Вы найдете лучшие модели, которые были выпущены на данный момент. Кроме того, что мы ручаемся за неизменно высокое качество товаров,так же мы гарантируем адекватные цены, удобные способы оплаты и доставки.
          +b.A.btn(href="###" class="--accent") о нас
        +b.DIV.about-slider
          +e.bIV.slides
            +e.DIV.slide(style="background-image: url('img/index/about-test.png')")
              +e.H4.slide-title dacom tws
    
    +b.SECTION.index-advantages
      +e.DIV.container(class="--title")
        +b.H3.section-title Чистый звук и никаких проводов  - <span>это твой лучший выбор</span>
        +e.P.subtitle Благодаря отсутствию проводов ничего вам не мешает и не цепляется за одежду. Вы больше не зацепитесь за что-нибудь, выдернув тем самым наушник из уха.
      +e.DIV.container(class="--items")
        +e.DIV.item
          +e.IMG.item-icon(src="img/icons/like.svg")
          +e.DIV.item-title Удобно
          +e.P.item-text Качество звука и отсутствие проводов дарит возможность жить без заморочек. Занимайтесь спортом, управляйте т/с, живите на полную!
        +e.DIV.item
          +e.IMG.item-icon(src="img/icons/diamond.svg")
          +e.DIV.item-title Современный дизайн
          +e.P.item-text Выглядят беспроводные наушники стильно, и они отлично дополняют образ современного человека, следящего за тенденциями моды
        +e.DIV.item
          +e.IMG.item-icon(src="img/icons/power.svg")
          +e.DIV.item-title Чехол-аккумулятор
          +e.P.item-text Каждой модель TWS имеет чехол-аккумулятор, который продлит работу наушников до 12 часов, тем самым не оставив вас без музыки в самый не подходящий момент.
    
    +b.SECTION.index-products
      +e.DIV.container
        +e.DIV.col
          +e.DIV.product
            +e.DIV.product-overlay
              +e.DIV.product-info
                +e.H4.product-name dacom tws
                +e.DIV.product-devider
                +e.SPAN.product-price 150$
              +e.DIV.product-btns
                +e.A.product-more(href="###") подробнее
                +b.DIV.btn(class="--sm") купить
            +e.IMG.product-img(src="img/index/products/1.png")
          +e.DIV.product
            +e.DIV.product-overlay
              +e.DIV.product-info
                +e.H4.product-name dacom tws
                +e.DIV.product-devider
                +e.SPAN.product-price 150$
              +e.DIV.product-btns
                +e.A.product-more(href="###") подробнее
                +b.DIV.btn(class="--sm") купить
            +e.IMG.product-img(src="img/index/products/2.png")
        +e.DIV.col
          +e.DIV.product
            +e.DIV.product-overlay
              +e.DIV.product-info
                +e.H4.product-name dacom tws
                +e.DIV.product-devider
                +e.SPAN.product-price 150$
              +e.DIV.product-btns
                +e.A.product-more(href="###") подробнее
                +b.DIV.btn(class="--sm") купить
            +e.IMG.product-img(src="img/index/products/3.png")
          +e.DIV.product
            +e.DIV.product-overlay
              +e.DIV.product-info
                +e.H4.product-name dacom tws
                +e.DIV.product-devider
                +e.SPAN.product-price 150$
              +e.DIV.product-btns
                +e.A.product-more(href="###") подробнее
                +b.DIV.btn(class="--sm") купить
            +e.IMG.product-img(src="img/index/products/4.png")
        +e.DIV.col
          +e.DIV.product
            +e.DIV.product-overlay
              +e.DIV.product-info
                +e.H4.product-name dacom tws
                +e.DIV.product-devider
                +e.SPAN.product-price 150$
              +e.DIV.product-btns
                +e.A.product-more(href="###") подробнее
                +b.DIV.btn(class="--sm") купить
            +e.IMG.product-img(src="img/index/products/5.png")
          +e.DIV.product
            +e.DIV.product-overlay
              +e.DIV.product-info
                +e.H4.product-name dacom tws
                +e.DIV.product-devider
                +e.SPAN.product-price 150$
              +e.DIV.product-btns
                +e.A.product-more(href="###") подробнее
                +b.DIV.btn(class="--sm") купить
            +e.IMG.product-img(src="img/index/products/6.png")
    
    +b.SECTION.index-how
      +e.DIV.container
        +b.H3.section-title Как заказать
      +e.DIV.container(class="--items")
        +e.DIV.item
          +e.IMG.item-icon(src="img/index/index-how1.png")
          +e.DIV.item-title Оформление заказа
          +e.P.item-text Вы оформляете заказ на сайте или по телефону
        +e.DIV.item
          +e.IMG.item-icon(src="img/index/index-how1.png")
          +e.DIV.item-title Подтверждение заказа
          +e.P.item-text Менеджер связывается с Вами для подтверждения заказа
        +e.DIV.item
          +e.IMG.item-icon(src="img/index/index-how1.png")
          +e.DIV.item-title Доставка и получение товара
          +e.P.item-text Мы отправляем посылку любым удобным для Вас способом.
    
    +b.SECTION.index-reports
      div
        +e.DIV.container(class="--title")
          +b.H3.section-title Отзывы
        +reports-slider()
    
    
    +b.SECTION.index-questions
      +e.DIV.container(class="--title")
        +b.H3.section-title Вопрос-ответ
      +e.DIV.container
        +e.DIV.item
          +e.DIV.title(class="--isOpened")
            img(src="img/icons/next.svg")
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit?
          +e.DIV.answer(class="--isOpened")
            +e.P.answer-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        +e.DIV.item
          +e.DIV.title
            img(src="img/icons/next.svg")
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit?
          +e.DIV.answer
            +e.P.answer-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        +e.DIV.item
          +e.DIV.title
            img(src="img/icons/next.svg")
            |Lorem ipsum dolor sit amet, consectetur adipisicing elit?
          +e.DIV.answer
            +e.P.answer-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    
    
    +b.SECTION.index-contact
      +e.DIV.container
        +e.DIV.info
          div
            +b.H3.section-title Контакты
            +e.P.info-descr Остались вопросы? Отправьте нам сообщение с помощью специальной формы. Мы обязательно Вам ответим! Или свяжитесь с нами любым удобным для вас способом
          div
            +e.DIV.info-contact
              img(src="img/icons/map.svg")
              |г.Киев ул. Днепровская набережная 14а
            +e.DIV.info-contact
              img(src="img/icons/phone.svg")
              |+38(099)986-05-58
        +e.FORM.form
          +b.INPUT.inp(placeholder="Ваше имя")
          +b.INPUT.inp(placeholder="Ваше имя")
          +b.INPUT.inp(placeholder="Ваше имя")
          +b.TEXTAREA.textarea(rows="5" placeholder="Ваше сообщение")
          +b.BUTTON.btn(class="--accent" type="submit") Отправить
