.index
  &-intro
    height: 100vh
    background-color: $accent-color
    position: relative
    z-index: 0
    display: flex
    align-items: center
    &__bg
      opacity: .4
      position: absolute
      bottom: 0
      width: 40%
      z-index: -1
    &__container
      +container()
      position: relative
    &__content
      +col(8)
    &__img
      position: absolute
      right: 0
      top: -20%
      width: 30%
    &__title
      font-size: 100px
      font-weight: 700
      text-transform: uppercase
      color: #fff
      line-height: .92
      text-shadow: 10.8px 20.3px 10px rgba(0, 0, 0, 0.13)

  &-about
    background-image: url('../img/index/waves.png')
    background-position: bottom
    padding-bottom: 15%
    background-repeat: no-repeat
    background-size: 100%
    &__container
      +container()
      transform: translateY(-2em)
    &__content
      +col(6)
      padding-top: 12.5em
    &__text
      margin-top: 3em
      margin-bottom: 7em
      line-height: 1.88

  &-advantages
    background-color: #fff
    padding-bottom: 12.8%
    &__container
      +container(space-between, no-wrap)
      &--title
        padding-top: 3em
        display: block
        .section-title
          >span
            display: block
            line-height: 1.5
      &--items
        margin-top: 8em
        position: relative
        &::before,
        &::after
          content: ''
          position: absolute
          top: 12%
          height: 3px
          width: 100px
          background-color: #000
        &::before
          left: 0
        &::after
          right: 0
    &__subtitle
      +col(8)
      line-height: 1.7
      display: block
      margin-top: 2.6em
    &__item
      text-align: center
      +col(4)
      &-icon
        margin-bottom: 4.6em
        width: 23%
      &-title
        font-weight: 700
        text-transform: uppercase
        margin-bottom: 2.1em
      &-text
        line-height: 1.7

  &-products
    &__container
      width: 77%
      display: flex
    &__product
      font-size: 0
      position: relative
      color: #fff
      overflow: hidden
      &-img
        width: 100%
      &-overlay
        font-size: 14px
        @media #{$xlg}
          font-size: 16px
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: transparentize($accent-color, .1)
        padding: 15% 14%
        display: flex
        flex-direction: column
        justify-content: space-between
        transition: all .4s
        transform: translateY(-100%)
      &-info
        text-align: center
      &-name,
      &-price
        font-size: 2.25em
        text-transform: uppercase
        font-weight: 700
      &-price
        color: #000
      &-devider
        margin: 1.3em auto 1.6em
        width: 30%
        height: 3px
        background-color: #fff
      &-btns
        display: flex
        justify-content: space-between
        align-items: center
      &-more
        letter-spacing: .7px
        text-transform: uppercase
        font-weight: 700
        font-size: .8em
        margin-top: 2px
        color: #fff
      &:hover
        .index-products__product-overlay
          transform: none

  &-how
    padding: 11.8em 0 16.9em
    &__container
      +container()
      &--items
        margin-top: 7.9em
    &__item
      +col(4)
      position: relative
      &::before
        position: absolute
        font-size: 8.1em
        top: -20%
        left: 0
        font-weight: 700
        color: #fff
        text-shadow: 7px 13.2px 10px rgba(0, 0, 0, 0.05)
      &-icon
        height: 3.5em
        margin-left: 4em
        position: relative
        z-index: 1
      &-title
        margin: 2.8em 0 2.2em
        font-weight: 700
        text-transform: uppercase
      &-text
        line-height: 1.7
      &:nth-child(1)
        &::before
          content: '1'
      &:nth-child(2)
        &::before
          content: '2'
      &:nth-child(3)
        &::before
          content: '3'

  &-reports
    position: relative
    width: calc( ( (100% - 1170px) / 2 ) + 1170px )
    display: flex
    justify-content: flex-end
    box-shadow: 0 0 95px 0 rgba(0, 0, 0, 0.08)
    background-color: #fff
    padding-top: 9em
    &::before
      content: ''
      position: absolute
      left: 20%
      top: -5%
      background-color: #000
      width: 25%
      height: 50%
      z-index: -1
    &__container
      +container()
      &--title
        justify-content: flex-end
        margin-bottom: 4.1em
        .section-title
          +col(8)
      &--controls
        margin-top: 2.8em
        justify-content: flex-end
        margin-bottom: 4.8em

    &__controls
      +col(3)
      display: flex
      align-items: center
      &-numbers
        font-weight: 700
        margin-right: 30px
      &-arr
        height: 25px
        &--prev
          transform: rotate(.5turn)
          margin-right: 10px


  &-questions
    padding: 11em 0
    &__container
      +container()
      &--title
        margin-bottom: 3em
    &__item
      width: 100%
    &__title
      font-size: 1.12em
      font-weight: 700
      line-height: 2.8
      border-bottom: 1px solid #000
      cursor: pointer
      img
        width: 1.2em
        vertical-align: middle
        margin-right: 1em
        display: none
      &--isOpened
        color: $accent-color
        border-bottom: none
        img
          display: inline-block
    &__answer
      display: none
      justify-content: flex-end
      &--isOpened
        display: flex
      &-text
        width: 90%
        line-height: 1.9
        margin-bottom: 2.8em

  &-contact
    height: 100vh
    display: flex
    align-items: center
    position: relative
    &::after
      content: ''
      position: absolute
      top: 0
      right: 0
      width: 55%
      height: 100%
      background-image: url('../img/index/contact-bg.png')
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      z-index: -1
    &__container
      +container()
    &__info
      +col(5)
      display: flex
      flex-direction: column
      justify-content: space-between
      // font-size: .8em
      &-descr
        line-height: 1.7
        margin-top: 3em
      &-contact
        font-weight: 700
        text-transform: uppercase
        margin-bottom: 1.7em
        font-size: .8em
        >img
          height: 2em
          margin-right: 2.5em
    &__form
      +col(6)
      text-align: right








.about-slider
  position: relative
  background-color: #fff
  +col(5)
  box-shadow: 0 18px 46px 0 rgba(0, 0, 0, 0.2)
  display: flex
  &::before
    content: ''
    position: absolute
    top: -5%
    left: 20%
    height: 110%
    width: 60%
    background-color: #000
    display: block
    z-index: -1
  &__slides
    width: 100%
    display: flex
  &__slide
    width: 100%
    background-color: #fff
    background-size: cover
    background-position: bottom
    background-repeat: no-repeat
    padding: 5.3em 0 0 4.3em
    &-title
      text-transform: uppercase
      font-weight: 700
      font-size: 1.25em
      color: #000
      position: relative
      &::after
        content: ''
        position: absolute
        bottom: -10px
        left: 0
        width: 100px
        height: 3px
        background-color: #000
        display: block



.inp,
.textarea,
  padding: 12px 0
  background-color: transparent
  border: none
  border-bottom: 1px solid #fff
  width: 100%
  text-transform: uppercase
  margin-bottom: 1.5em
  outline: none
  color: #fff

.delivery-choose
  display: none
  justify-content: space-between
  width: 100%
  &--chosen
    display: flex
  &__input
    @extend .inp
    width: 48%
  &--radios
    flex-wrap: wrap
  &--full-width
    .delivery-choose__input
      width: 100%

.select-box
  width: 100%
  border-bottom: 1px solid #fff
  overflow: hidden
  margin-bottom: 1.5em
  margin-top: .5em
  &__select
    width: 110%
    text-transform: uppercase
    outline: none
    background-color: transparent
    border: none
    margin-left: -4px
    color: #fff

.radio-box
  color: #fff
  display: block
  margin-bottom: .7em
  &__text
    margin-left: 10px
    text-transform: uppercase

// .select
//   padding: 12px 30px
//   background-color: transparent
//   width: 100%
//   border: none
//   border-bottom: 1px solid #fff
//   outline: none
//   color: #fff
//   line-height: 30px
//   border-radius: 5px








    // !!!!!
