html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/***********************FONTS & COLORS***********************/
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProRegular.ttf");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamProBold.ttf");
  font-style: normal;
  font-weight: 700; }

.header__container, .index-intro__container, .index-about__container, .index-advantages__container, .index-how__container, .index-reports__container, .index-questions__container, .index-contact__container, .reports-slider, .product__container, .order__container {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (min-width: 319px) {
    .header__container, .index-intro__container, .index-about__container, .index-advantages__container, .index-how__container, .index-reports__container, .index-questions__container, .index-contact__container, .reports-slider, .product__container, .order__container {
      width: 100%;
      padding: 0 15px; } }
  @media (min-width: 767px) {
    .header__container, .index-intro__container, .index-about__container, .index-advantages__container, .index-how__container, .index-reports__container, .index-questions__container, .index-contact__container, .reports-slider, .product__container, .order__container {
      width: 750px; } }
  @media (min-width: 1025px) {
    .header__container, .index-intro__container, .index-about__container, .index-advantages__container, .index-how__container, .index-reports__container, .index-questions__container, .index-contact__container, .reports-slider, .product__container, .order__container {
      width: 935px; } }
  @media (min-width: 1224px) {
    .header__container, .index-intro__container, .index-about__container, .index-advantages__container, .index-how__container, .index-reports__container, .index-questions__container, .index-contact__container, .reports-slider, .product__container, .order__container {
      width: 1170px; } }

.header {
  height: 7.8em;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  @media (max-width: 350px) {
    .header {
      font-size: 10px; } }
  .header--scrolled {
    height: 4.5em;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 20px -15px #000;
            box-shadow: 0 5px 20px -15px #000; }
    .header--scrolled .header-nav__link {
      color: #000; }
      .header--scrolled .header-nav__link::after {
        background-color: #ee3755; }
  .header__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__logo-img {
    height: 1.25em;
    vertical-align: middle; }
  .header-nav__link {
    color: #fff;
    font-size: 1.1em;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-weight: 700; }
    @media (min-width: 319px) {
      .header-nav__link {
        margin-right: 1em; } }
    @media (min-width: 767px) {
      .header-nav__link {
        margin-right: 2.75em; } }
    .header-nav__link::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -10%;
      width: 0;
      height: 3px;
      background-color: #fff;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      -webkit-transition: all .4s;
      transition: all .4s;
      z-index: -1; }
    .header-nav__link:hover {
      color: #000; }
      .header-nav__link:hover::after {
        width: 120%; }

.index-intro {
  height: 100vh;
  background-color: #ee3755;
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .index-intro__bg {
    opacity: .4;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: -1; }
  .index-intro__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    position: relative; }
  .index-intro__content {
    width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 8) + ( 30px * (8 - 1)));
    width: calc( (((100% - (30px * (12 - 1))) / 12) * 8) + ( 30px * (8 - 1))); }
  .index-intro__img {
    position: absolute;
    right: 0;
    top: -20%;
    width: 30%; }
  .index-intro__title {
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: .92;
    text-shadow: 10.8px 20.3px 10px rgba(0, 0, 0, 0.13); }

.index-about {
  background-image: url("../img/index/waves.png");
  background-position: bottom;
  padding-bottom: 15%;
  background-repeat: no-repeat;
  background-size: 100%; }
  .index-about__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-transform: translateY(-2em);
        -ms-transform: translateY(-2em);
            transform: translateY(-2em); }
  .index-about__content {
    width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 6) + ( 30px * (6 - 1)));
    width: calc( (((100% - (30px * (12 - 1))) / 12) * 6) + ( 30px * (6 - 1)));
    padding-top: 12.5em; }
  .index-about__text {
    margin-top: 3em;
    margin-bottom: 7em;
    line-height: 1.88; }

.index-advantages {
  background-color: #fff;
  padding-bottom: 12.8%; }
  .index-advantages__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: no-wrap;
        -ms-flex-wrap: no-wrap;
            flex-wrap: no-wrap; }
    .index-advantages__container--title {
      padding-top: 3em;
      display: block; }
      .index-advantages__container--title .section-title > span {
        display: block;
        line-height: 1.5; }
    .index-advantages__container--items {
      margin-top: 8em;
      position: relative; }
      .index-advantages__container--items::before, .index-advantages__container--items::after {
        content: '';
        position: absolute;
        top: 12%;
        height: 3px;
        width: 100px;
        background-color: #000; }
      .index-advantages__container--items::before {
        left: 0; }
      .index-advantages__container--items::after {
        right: 0; }
  .index-advantages__subtitle {
    width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 8) + ( 30px * (8 - 1)));
    width: calc( (((100% - (30px * (12 - 1))) / 12) * 8) + ( 30px * (8 - 1)));
    line-height: 1.7;
    display: block;
    margin-top: 2.6em; }
  .index-advantages__item {
    text-align: center;
    width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 4) + ( 30px * (4 - 1)));
    width: calc( (((100% - (30px * (12 - 1))) / 12) * 4) + ( 30px * (4 - 1))); }
    .index-advantages__item-icon {
      margin-bottom: 4.6em;
      width: 23%; }
    .index-advantages__item-title {
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 2.1em; }
    .index-advantages__item-text {
      line-height: 1.7; }

.index-products__container {
  width: 77%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.index-products__product {
  font-size: 0;
  position: relative;
  color: #fff;
  overflow: hidden; }
  .index-products__product-img {
    width: 100%; }
  .index-products__product-overlay {
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(238, 55, 85, 0.9);
    padding: 15% 14%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%); }
    @media (min-width: 1800px) {
      .index-products__product-overlay {
        font-size: 16px; } }
  .index-products__product-info {
    text-align: center; }
  .index-products__product-name, .index-products__product-price {
    font-size: 2.25em;
    text-transform: uppercase;
    font-weight: 700; }
  .index-products__product-price {
    color: #000; }
  .index-products__product-devider {
    margin: 1.3em auto 1.6em;
    width: 30%;
    height: 3px;
    background-color: #fff; }
  .index-products__product-btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .index-products__product-more {
    letter-spacing: .7px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8em;
    margin-top: 2px;
    color: #fff; }
  .index-products__product:hover .index-products__product-overlay {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }

.index-how {
  padding: 11.8em 0 16.9em; }
  .index-how__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .index-how__container--items {
      margin-top: 7.9em; }
  .index-how__item {
    width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 4) + ( 30px * (4 - 1)));
    width: calc( (((100% - (30px * (12 - 1))) / 12) * 4) + ( 30px * (4 - 1)));
    position: relative; }
    .index-how__item::before {
      position: absolute;
      font-size: 8.1em;
      top: -20%;
      left: 0;
      font-weight: 700;
      color: #fff;
      text-shadow: 7px 13.2px 10px rgba(0, 0, 0, 0.05); }
    .index-how__item-icon {
      height: 3.5em;
      margin-left: 4em;
      position: relative;
      z-index: 1; }
    .index-how__item-title {
      margin: 2.8em 0 2.2em;
      font-weight: 700;
      text-transform: uppercase; }
    .index-how__item-text {
      line-height: 1.7; }
    .index-how__item:nth-child(1)::before {
      content: '1'; }
    .index-how__item:nth-child(2)::before {
      content: '2'; }
    .index-how__item:nth-child(3)::before {
      content: '3'; }

.index-reports {
  position: relative;
  width: -webkit-calc( ( (100% - 1170px) / 2 ) + 1170px);
  width: calc( ( (100% - 1170px) / 2 ) + 1170px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-shadow: 0 0 95px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 95px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
  padding-top: 9em; }
  .index-reports::before {
    content: '';
    position: absolute;
    left: 20%;
    top: -5%;
    background-color: #000;
    width: 25%;
    height: 50%;
    z-index: -1; }
  .index-reports__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .index-reports__container--title {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      margin-bottom: 4.1em; }
      .index-reports__container--title .section-title {
        width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 8) + ( 30px * (8 - 1)));
        width: calc( (((100% - (30px * (12 - 1))) / 12) * 8) + ( 30px * (8 - 1))); }
    .index-reports__container--controls {
      margin-top: 2.8em;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      margin-bottom: 4.8em; }
  .index-reports__controls {
    width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 3) + ( 30px * (3 - 1)));
    width: calc( (((100% - (30px * (12 - 1))) / 12) * 3) + ( 30px * (3 - 1)));
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .index-reports__controls-numbers {
      font-weight: 700;
      margin-right: 30px; }
    .index-reports__controls-arr {
      height: 25px; }
      .index-reports__controls-arr--prev {
        -webkit-transform: rotate(0.5turn);
            -ms-transform: rotate(0.5turn);
                transform: rotate(0.5turn);
        margin-right: 10px; }

.index-questions {
  padding: 11em 0; }
  .index-questions__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .index-questions__container--title {
      margin-bottom: 3em; }
  .index-questions__item {
    width: 100%; }
  .index-questions__title {
    font-size: 1.12em;
    font-weight: 700;
    line-height: 2.8;
    border-bottom: 1px solid #000;
    cursor: pointer; }
    .index-questions__title img {
      width: 1.2em;
      vertical-align: middle;
      margin-right: 1em;
      display: none; }
    .index-questions__title--isOpened {
      color: #ee3755;
      border-bottom: none; }
      .index-questions__title--isOpened img {
        display: inline-block; }
  .index-questions__answer {
    display: none;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .index-questions__answer--isOpened {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .index-questions__answer-text {
      width: 90%;
      line-height: 1.9;
      margin-bottom: 2.8em; }

.index-contact {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .index-contact::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    height: 100%;
    background-image: url("../img/index/contact-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1; }
  .index-contact__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .index-contact__info {
    width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 5) + ( 30px * (5 - 1)));
    width: calc( (((100% - (30px * (12 - 1))) / 12) * 5) + ( 30px * (5 - 1)));
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .index-contact__info-descr {
      line-height: 1.7;
      margin-top: 3em; }
    .index-contact__info-contact {
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 1.7em;
      font-size: .8em; }
      .index-contact__info-contact > img {
        height: 2em;
        margin-right: 2.5em; }
  .index-contact__form {
    width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 6) + ( 30px * (6 - 1)));
    width: calc( (((100% - (30px * (12 - 1))) / 12) * 6) + ( 30px * (6 - 1)));
    text-align: right; }

.about-slider {
  position: relative;
  background-color: #fff;
  width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 5) + ( 30px * (5 - 1)));
  width: calc( (((100% - (30px * (12 - 1))) / 12) * 5) + ( 30px * (5 - 1)));
  -webkit-box-shadow: 0 18px 46px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 18px 46px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .about-slider::before {
    content: '';
    position: absolute;
    top: -5%;
    left: 20%;
    height: 110%;
    width: 60%;
    background-color: #000;
    display: block;
    z-index: -1; }
  .about-slider__slides {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .about-slider__slide {
    width: 100%;
    background-color: #fff;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 5.3em 0 0 4.3em; }
    .about-slider__slide-title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.25em;
      color: #000;
      position: relative; }
      .about-slider__slide-title::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100px;
        height: 3px;
        background-color: #000;
        display: block; }

.inp, .delivery-choose__input,
.textarea {
  padding: 12px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 1.5em;
  outline: none;
  color: #fff; }

.delivery-choose {
  display: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }
  .delivery-choose--chosen {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .delivery-choose__input {
    width: 48%; }
  .delivery-choose--radios {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .delivery-choose--full-width .delivery-choose__input {
    width: 100%; }

.select-box {
  width: 100%;
  border-bottom: 1px solid #fff;
  overflow: hidden;
  margin-bottom: 1.5em;
  margin-top: .5em; }
  .select-box__select {
    width: 110%;
    text-transform: uppercase;
    outline: none;
    background-color: transparent;
    border: none;
    margin-left: -4px;
    color: #fff; }

.radio-box {
  color: #fff;
  display: block;
  margin-bottom: .7em; }
  .radio-box__text {
    margin-left: 10px;
    text-transform: uppercase; }

.aside {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 99;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-transform: translate(100%);
      -ms-transform: translate(100%);
          transform: translate(100%);
  overflow-y: auto; }
  @media (min-width: 319px) {
    .aside {
      width: 100%;
      padding: 6.5em 2em; } }
  @media (min-width: 1025px) {
    .aside {
      width: 50%;
      padding: 6.5em 6.2em 0; } }
  .aside--opened {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .aside__good {
    -webkit-box-shadow: 0 16px 25px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 16px 25px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    display: block;
    text-align: center;
    margin-bottom: 4em;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 25%;
    width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 6) + ( 30px * (6 - 1)));
    width: calc( (((100% - (30px * (12 - 1))) / 12) * 6) + ( 30px * (6 - 1))); }
    @media (max-width: 350px) {
      .aside__good {
        width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 12) + ( 30px * (12 - 1)));
        width: calc( (((100% - (30px * (12 - 1))) / 12) * 12) + ( 30px * (12 - 1)));
        height: 45%; } }
    .aside__good-img {
      height: 85%; }
    .aside__good-name {
      position: absolute;
      bottom: -20%;
      left: 50%;
      -webkit-transform: translate(-50%);
          -ms-transform: translate(-50%);
              transform: translate(-50%);
      font-size: 1.1em;
      font-weight: 700;
      color: #000;
      -webkit-transition: all .3s;
      transition: all .3s;
      text-transform: uppercase; }
    .aside__good:hover .aside__good-name {
      color: #ee3755; }

.reports-slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .reports-slider__slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 0;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    overflow: hidden; }
    .reports-slider__slide-img-col {
      width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 4) + ( 30px * (4 - 1)));
      width: calc( (((100% - (30px * (12 - 1))) / 12) * 4) + ( 30px * (4 - 1)));
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .reports-slider__slide-content-col {
      width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 8) + ( 30px * (8 - 1)));
      width: calc( (((100% - (30px * (12 - 1))) / 12) * 8) + ( 30px * (8 - 1))); }
    .reports-slider__slide-img-block {
      width: 50%;
      position: relative;
      z-index: 1; }
      .reports-slider__slide-img-block::before {
        content: '';
        position: absolute;
        top: 10%;
        left: -10%;
        width: 100%;
        height: 100%;
        background-color: #ee3755;
        z-index: -1; }
    .reports-slider__slide-img {
      width: 100%;
      -webkit-box-shadow: -9.8px 23px 29px 0 rgba(0, 0, 0, 0.25);
              box-shadow: -9.8px 23px 29px 0 rgba(0, 0, 0, 0.25); }
    .reports-slider__slide-text {
      line-height: 1.8;
      margin-bottom: 4em;
      width: 75%; }
    .reports-slider__slide-author {
      font-size: .8em; }
      .reports-slider__slide-author span {
        text-transform: uppercase;
        font-weight: 700; }
    .reports-slider__slide:first-child {
      opacity: 1;
      height: auto; }

.catalog {
  background-image: url("../img/catalog/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  background-color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh; }
  @media (min-width: 319px) {
    .catalog {
      font-size: 10px; } }
  @media (min-width: 1800px) {
    .catalog {
      font-size: 16px; } }
  .catalog__product {
    width: 100%; }
  .catalog__controls {
    position: fixed;
    bottom: 6.6%;
    left: 2.5%;
    width: 95%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 2; }
  .catalog-control {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .catalog-control__img {
      width: 10.6em;
      -webkit-box-shadow: -17px 12.3px 27px 0 rgba(205, 56, 83, 0.66);
              box-shadow: -17px 12.3px 27px 0 rgba(205, 56, 83, 0.66);
      margin-right: 1.7em; }
    .catalog-control__arr {
      width: 3.2em;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg);
      margin-top: 1em; }
    .catalog-control__name {
      font-size: 1.12em;
      text-transform: uppercase;
      color: #fff;
      font-weight: 700; }
    .catalog-control--next {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      text-align: right; }
      .catalog-control--next .catalog-control__img {
        -webkit-box-shadow: 15.4px 14.3px 27px 0 rgba(205, 56, 83, 0.66);
                box-shadow: 15.4px 14.3px 27px 0 rgba(205, 56, 83, 0.66);
        margin-right: none;
        margin-left: 1.7em; }
      .catalog-control--next .catalog-control__arr {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none; }

.product {
  color: #fff;
  position: relative;
  z-index: 1;
  display: none; }
  .product__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    background-color: #ee3755;
    opacity: .8; }
  .product__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .product__left {
    width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 4) + ( 30px * (4 - 1)));
    width: calc( (((100% - (30px * (12 - 1))) / 12) * 4) + ( 30px * (4 - 1)));
    padding-right: 4em; }
    @media (min-width: 1800px) {
      .product__left {
        width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 6) + ( 30px * (6 - 1)));
        width: calc( (((100% - (30px * (12 - 1))) / 12) * 6) + ( 30px * (6 - 1))); } }
  .product-slider {
    height: 100%;
    position: relative; }
    .product-slider__img {
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      -webkit-transform: translateY(-15%);
          -ms-transform: translateY(-15%);
              transform: translateY(-15%);
      opacity: 0; }
    .product-slider__controls {
      position: absolute;
      top: 50%;
      left: -20px;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
    .product-slider__dot {
      width: 8px;
      height: 8px;
      background-color: #000;
      border-radius: 50%;
      margin-bottom: 1.3em;
      cursor: pointer; }
      .product-slider__dot--active {
        border: solid 3px #ffffff;
        width: 14px;
        height: 14px;
        -webkit-transform: translate(-3px);
            -ms-transform: translate(-3px);
                transform: translate(-3px);
        background-color: transparent; }
  .product__right {
    width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 4) + ( 30px * (4 - 1)));
    width: calc( (((100% - (30px * (12 - 1))) / 12) * 4) + ( 30px * (4 - 1)));
    text-align: center;
    padding: 4em 0 2em; }
    @media (min-width: 1800px) {
      .product__right {
        width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 6) + ( 30px * (6 - 1)));
        width: calc( (((100% - (30px * (12 - 1))) / 12) * 6) + ( 30px * (6 - 1))); } }
  .product-info__name {
    font-size: 8em;
    font-weight: 700;
    text-transform: uppercase;
    line-height: .7;
    text-align: left;
    position: relative; }
  .product-info__devider {
    width: 18.7em;
    height: 7px;
    background-color: #fff;
    margin: 2.5em 0; }
  .product-info__descr {
    line-height: 1.67;
    font-size: 1.12em;
    margin-bottom: 3em;
    text-align: left;
    opacity: 0;
    position: relative; }
  .product-info__price {
    font-size: 3.75em;
    letter-spacing: 3px;
    font-weight: 700;
    line-height: 1.8; }
  .product--shown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.order {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(80deg, #f7f7f7, #ffffff);
  background-image: linear-gradient(10deg, #f7f7f7, #ffffff);
  -webkit-transform: translate(100%);
      -ms-transform: translate(100%);
          transform: translate(100%);
  -webkit-transition: all .5s;
  transition: all .5s; }
  .order--opened {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .order::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url("../img/index/contact-bg.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    z-index: -1; }
  .order__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height: 100%; }
  .order__left, .order__right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 15vh; }
  .order__left {
    width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 6) + ( 30px * (6 - 1)));
    width: calc( (((100% - (30px * (12 - 1))) / 12) * 6) + ( 30px * (6 - 1))); }
  .order__right {
    width: -webkit-calc( (((100% - (30px * (12 - 1))) / 12) * 5) + ( 30px * (5 - 1)));
    width: calc( (((100% - (30px * (12 - 1))) / 12) * 5) + ( 30px * (5 - 1))); }
  .order__img {
    height: 50vh;
    margin: 3em 0 2em; }
  .order__colors {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .order__inp-color {
    display: none; }
  .order__color {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.39);
            box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.39);
    -webkit-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
    margin: 0 1em; }
    .order__color:hover {
      -webkit-box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.39);
              box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.39); }
    .order__color--chosen {
      -webkit-box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.39);
              box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.39); }
  .order__form {
    margin-top: 3em;
    width: 100%; }
  .order__close {
    position: fixed;
    top: 4%;
    left: 3%;
    width: 2.5em;
    cursor: pointer; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.page {
  overflow-x: hidden;
  font-family: "GothamPro", sans-serif;
  background-color: #f7f7f7; }
  @media (min-width: 319px) {
    .page {
      font-size: 12px; } }
  @media (min-width: 767px) {
    .page {
      font-size: 14px; } }
  @media (min-width: 1800px) {
    .page {
      font-size: 16px; } }
  .page__wrap {
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto; }
  @media (max-width: 1024px) {
    .page--noScroll {
      overflow: hidden; } }

.btn {
  width: 12.14em;
  height: 3em;
  text-align: center;
  line-height: 3.3em;
  background-color: #fff;
  color: #ee3755;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .87em;
  letter-spacing: .7px;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  webkit-font-smoothing: antialiased; }
  .btn--accent {
    background-color: #ee3755;
    color: #fff; }
  .btn--sm {
    width: 9em; }

.section-title {
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase; }
  .section-title--light {
    color: #fff; }
