extends template

block content
	+index()
	
block scripts
	// build:js js/main.js
	script( src="js/main.js")
	// endbuild
	script.
		$(".index-questions__title").interAccordion({
			togglerMod: 'index-questions__title--isOpened',
			contentMod: 'index-questions__answer--isOpened'
		});
