//*********************************************
//		Assets
//*********************************************
@import "_base/reset"
@import "_base/variables"
@import "_base/fonts"
@import "_base/grid"

//*********************************************
//		Blocks
//*********************************************
@import "header/header"
@import "index/index"
@import "aside/aside"
@import "reports-slider/reports-slider"
@import "catalog/catalog"
@import "product/product"
@import "order/order"


//*********************************************
//		General Styles
//*********************************************
*
  box-sizing: border-box

.page
  overflow-x: hidden
  font-family: $main-font, sans-serif
  background-color: $bg-color
  @media #{$xs}
    font-size: 12px
  @media #{$sm}
    font-size: 14px
  @media #{$xlg}
    font-size: 16px
  &__wrap
    min-width: 320px
    max-width: 1920px
    margin: 0 auto
  &--noScroll
    @media #{$_md}
      overflow: hidden
.btn
  width: 12.14em
  height: 3em
  text-align: center
  line-height: 3em*1.1
  background-color: #fff
  color: $accent-color
  text-transform: uppercase
  font-weight: 700
  font-size: .87em
  letter-spacing: .7px
  padding: 0
  border: none
  outline: none
  cursor: pointer
  display: inline-block
  webkit-font-smoothing: antialiased
  &--accent
    background-color: $accent-color
    color: #fff
  &--sm
    width: 9em


.section-title
  font-size: 2.5em
  font-weight: 700
  text-transform: uppercase
  &--light
    color: #fff










  // ???
