include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include header/header
include index/index
include aside/aside
include reports-slider/reports-slider
include catalog/catalog
include product/product
include order/order

doctype html
html(lang="ru")

	block head
		head
			+head({
				"title": "Gulp + Pug + SASS + BEM",
				"author": "Alexandr Ponomarenko",
				"description": "Gulp + Pug + SASS + BEM Boilerplate"
			})
			
		+b.BODY.page
			+e.DIV.wrap
				+order()
				+aside()
				block header
					+header()
				
				block content
					div content

				block footer
					footer footer
				
			block vendors
				// build:js js/vendor.js
				script( src="libs/jquery/dist/jquery.min.js")
				// endbuild

			block scripts
				// build:js js/main.js
				script( src="js/main.js")
				// endbuild
