mixin header()
  +b.HEADER.header
    +e.DIV.container
      +e.A.logo( href="img" )
        +e.IMG.logo-img(src="img/logo/logo.png")
      +e.DIV.nav
        +b.NAV.header-nav
          +e.A.link( href="#" ) Контакты
          +b.DIV.btn#goodsBtn товары
