.header
  height: 7.8em
  width: 100%
  position: fixed
  top: 0
  left: 0
  z-index: 100
  @media #{$_xs}
    font-size: 10px
  &--scrolled
    height: 4.5em
    background-color: #fff
    box-shadow: 0 5px 20px -15px #000
    .header-nav__link
      color: #000
      &::after
        background-color: $accent-color
  &__container
    +container()
    height: 100%
    align-items: center
    // flex-wrap: nowrap
  &__logo-img
    height: 1.25em
    vertical-align: middle
  &-nav
    &__link
      color: #fff
      font-size: 1.1em
      position: relative
      transition: all .4s
      font-weight: 700
      @media #{$xs}
        margin-right: 1em
      @media #{$sm}
        margin-right: 2.75em
      &::after
        content: ''
        position: absolute
        top: 50%
        left: -10%
        width: 0
        height: 3px
        background-color: #fff
        transform: translateY(-50%)
        transition: all .4s
        z-index: -1
      &:hover
        color: #000
        &::after
          width: 120%
