.order
  position: fixed
  z-index: 999
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-image: linear-gradient(10deg, #f7f7f7, #ffffff)
  transform: translate(100%)
  transition: all .5s
  &--opened
    transform: none
  &::before
    content: ''
    position: absolute
    top: 0
    right: 0
    width: 50%
    height: 100%
    background-image: url('../img/index/contact-bg.png')
    background-size: cover
    background-position: right
    background-repeat: no-repeat
    z-index: -1
  &__container
    +container()
    height: 100%
  &__left,
  &__right
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 15vh
  &__left
    +col(6)
  &__right
    +col(5)
  &__img
    height: 50vh
    margin: 3em 0 2em
  &__colors
    display: flex
  &__inp-color
    display: none
  &__color
    width: 2.5em
    height: 2.5em
    border-radius: 50%
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.39)
    transition: all .5s
    cursor: pointer
    margin: 0 1em
    &:hover
      box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.39)
    &--chosen
      box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.39)

  &__form
    margin-top: 3em
    width: 100%

  &__close
    position: fixed
    top: 4%
    left: 3%
    width: 2.5em
    cursor: pointer
