mixin order()
  +b.DIV.order
    +e.IMG.close#closeOrder(src="img/icons/close.svg")
    +e.FORM.container#orderForm
      +e.DIV.left
        +b.H3.section-title выберите цвет
        +e.IMG.img#chosenImg(src="img/catalog/air7e.png")
        +e.DIV.colors
          label
            +e.DIV.color(style="background-color: #fff")
            +e.INPUT.inp-color(name="color" type="radio" value="white")
          label
            +e.DIV.color(style="background-color: #000")
            +e.INPUT.inp-color(name="color" type="radio" value="black")
      +e.DIV.right
        +b.H3.section-title(class="--light") ваши данные
        +e.DIV.form
          +b.INPUT.inp(placeholder="Имя" name="name")
          +b.INPUT.inp(placeholder="Телефон" name="phone")
          +b.INPUT.inp(placeholder="E-Mail" name="email")
          +b.DIV.select-box
            +e.SELECT.select#deliveryChoose(name="deliveryType")
              +e.OPTION.option(value="0") Тип доставки
              +e.OPTION.option(value="#novaposhtaChoose") Новая почта
              +e.OPTION.option(value="#courierChoose") Курьерская доставка
              +e.OPTION.option(value="#pickupChoose") Самовывоз
          +b.DIV.delivery-choose#novaposhtaChoose
            +e.INPUT.input(type="text" placeholder="Город" name="city")
            +e.INPUT.input(type="number" placeholder="Номер склада" name="np")
          +b.DIV.delivery-choose#courierChoose(class="--full-width")
            +e.INPUT.input(type="text" placeholder="Адрес" name="adress")
          +b.DIV.delivery-choose#pickupChoose(class="--radios")
            +b.LABEL.radio-box
              +e.INPUT.radio(type="radio" name="pickup" value="point1")
              +e.SPAN.text г.Киев ул.Маршала Рыбалко 11
            +b.LABEL.radio-box
              +e.INPUT.radio(type="radio" name="pickup" value="point2")
              +e.SPAN.text г.Киев ул.Какая-то 123
          +b.TEXTAREA.textarea(rows="5" placeholder="Ваше сообщение")
          +b.BUTTON.btn(class="--accent" type="submit") Отправить
