@font-face
	font-family: "GothamPro"
	src: url("../fonts/GothamProRegular.ttf")
	font-style: normal
	font-weight: 400

@font-face
	font-family: "GothamPro"
	src: url("../fonts/GothamProBold.ttf")
	font-style: normal
	font-weight: 700
