$xs: "(min-width: 319px)"
$_xs: "(max-width: 350px)"
$sm: "(min-width: 767px)"
$_sm: "(max-width: 766px)"
$md: "(min-width: 1025px)"
$_md: "(max-width: 1024px)"
$lg: "(min-width: 1224px)"
$xlg: "(min-width: 1800px)"

$cols: 12
$gutter: 30px

%container
  margin: 0 auto
  box-sizing: border-box
  @media #{$xs}
    width: 100%
    padding: 0 15px
  @media #{$sm}
    width: 750px
  @media #{$md}
    width: 935px
  @media #{$lg}
    width: 1170px

=container($align:space-between, $wrap:wrap)
  @extend %container
  display: flex
  justify-content: $align
  flex-wrap: $wrap

=col($num)
  width: calc( (((100% - (#{$gutter} * (#{$cols} - 1))) / #{$cols}) * #{$num}) + ( #{$gutter} * (#{$num} - 1)) )
