mixin aside()
  +b.DIV.aside
    +e.A.good(href="catalog.html#air7e")
      +e.IMG.good-img(src="img/aside/prod1.png")
      +e.SPAN.good-name AIR 7 E
    +e.A.good(href="catalog.html#d900")
      +e.IMG.good-img(src="img/aside/prod2.png")
      +e.SPAN.good-name d 900 mini
    +e.A.good(href="catalog.html#dacom")
      +e.IMG.good-img(src="img/aside/prod3.png")
      +e.SPAN.good-name dacom rws
    +e.A.good(href="catalog.html#q29")
      +e.IMG.good-img(src="img/aside/prod4.png")
      +e.SPAN.good-name q 29
    +e.A.good(href="catalog.html#twnsb1")
      +e.IMG.good-img(src="img/aside/prod5.png")
      +e.SPAN.good-name tws b1
    +e.A.good(href="catalog.html#x1t")
      +e.IMG.good-img(src="img/aside/prod6.png")
      +e.SPAN.good-name x1 t
