.aside
  position: fixed
  top: 0
  right: 0
  height: 100%
  z-index: 99
  background-color: $bg-color
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  font-size: 12px
  transition: all .4s
  transform: translate(100%)
  overflow-y: auto
  @media #{$xs}
    width: 100%
    padding: 6.5em 2em
  @media #{$md}
    width: 50%
    padding: 6.5em 6.2em 0
  &--opened
    transform: none
  &__good
    box-shadow: 0 16px 25px 0 rgba(0, 0, 0, 0.15)
    background-color: #fff
    display: block
    text-align: center
    margin-bottom: 4em
    position: relative
    display: flex
    align-items: center
    justify-content: center
    height: 25%
    +col(6)
    @media #{$_xs}
      +col(12)
      height: 45%
    &-img
      height: 85%
    &-name
      position: absolute
      bottom: -20%
      left: 50%
      transform: translate(-50%)
      font-size: 1.1em
      font-weight: 700
      color: #000
      transition: all .3s
      text-transform: uppercase
    &:hover
      .aside__good-name
        color: $accent-color
