mixin catalog()
  +b.DIV.catalog
    +e.DIV.product
      +product({"name": "AIR 7E", "hash": "#air7e", "img": "img/catalog/air7e.png"})
      +product({"name": "DACOM", "hash": "#dacom", "img": "img/catalog/dacom rws.png"})
      +product({"name": "TWS b1", "hash": "#tws", "img": "img/catalog/tws b1.png"})
      +product({"name": "d 900", "hash": "#d900", "img": "img/catalog/d 900 mini.png"})
      +product({"name": "q 29", "hash": "#q29", "img": "img/catalog/q 29.png"})
      +product({"name": "X1T", "hash": "#x1t", "img": "img/catalog/x1t.png"})
      +e.DIV.controls
        +b.A.catalog-control#prevProd(href="#air7e")
          +e.IMG.img(src="img/catalog/arr1.png")
          div
            +e.DIV.name dacom twins
            +e.IMG.arr(src="img/icons/next-white.svg")
        +b.A.catalog-control#nextProd(href="#dacom" class="--next")
          +e.IMG.img(src="img/catalog/arr1.png")
          div
            +e.DIV.name dacom twins
            +e.IMG.arr(src="img/icons/next-white.svg")
