.catalog
  background-image: url('../img/catalog/bg.png')
  background-size: contain
  background-repeat: no-repeat
  position: relative
  background-color: #000
  display: flex
  align-items: center
  min-height: 100vh
  @media #{$xs}
    font-size: 10px
  @media #{$xlg}
    font-size: 16px
  &__product
    width: 100%
  &__controls
    position: fixed
    bottom: 6.6%
    left: 2.5%
    width: 95%
    display: flex
    justify-content: space-between
    z-index: 2
  &-control
    display: flex
    align-items: center
    &__img
      width: 10.6em
      box-shadow: -17px 12.3px 27px 0 rgba(205, 56, 83, 0.66)
      margin-right: 1.7em
    &__arr
      width: 3.2em
      transform: rotate(180deg)
      margin-top: 1em
    &__name
      font-size: 1.12em
      text-transform: uppercase
      color: #fff
      font-weight: 700
    &--next
      flex-direction: row-reverse
      text-align: right
      .catalog-control
        &__img
          box-shadow: 15.4px 14.3px 27px 0 rgba(205, 56, 83, 0.66)
          margin-right: none
          margin-left: 1.7em
        &__arr
          transform: none
