.product
  color: #fff
  position: relative
  z-index: 1
  display: none
  &__bg
    // content: ''
    position: absolute
    top: 0
    left: 0
    z-index: -1
    // width: 59%
    width: 0
    height: 100%
    background-color: $accent-color
    opacity: .8
    // display: none
  &__container
    +container()
    justify-content: center
  &__left
    +col(4)
    padding-right: 4em
    @media #{$xlg}
      +col(6)
  &-slider
    height: 100%
    position: relative
    &__img
      width: 100%
      position: absolute
      top: 0
      right: 0
      transform: translateY(-15%)
      // display: none
      opacity: 0
    &__controls
      position: absolute
      top: 50%
      left: -20px
      transform: translateY(-50%)
    &__dot
      width: 8px
      height: 8px
      background-color: #000
      border-radius: 50%
      margin-bottom: 1.3em
      cursor: pointer
      &--active
        border: solid 3px #ffffff
        width: 14px
        height: 14px
        transform: translate(-3px)
        background-color: transparent
  &__right
    +col(4)
    text-align: center
    padding: 4em 0 2em
    @media #{$xlg}
      +col(6)
  &-info
    &__name
      font-size: 8em
      font-weight: 700
      text-transform: uppercase
      line-height: .7
      text-align: left
      position: relative
      // display: none
    &__devider
      width: 18.7em
      height: 7px
      background-color: #fff
      margin: 2.5em 0
    &__descr
      line-height: 1.67
      font-size: 1.12em
      margin-bottom: 3em
      text-align: left
      opacity: 0
      position: relative
    &__price
      font-size: 3.75em
      letter-spacing: 3px
      font-weight: 700
      line-height: 1.8

  &--shown
    display: flex
