mixin product(data)
  +b.SECTION.product(data-prod= data.hash)
    +e.DIV.bg
    +e.DIV.container
      +e.DIV.left
        +b.DIV.product-slider
          +e.DIV.controls
          +e.IMG.img(src= data.img)
          +e.IMG.img(src= data.img)
          +e.IMG.img(src= data.img)
      +e.DIV.right
        +b.DIV.product-info
          +e.H2.name= data.name
          +e.DIV.devider
          +e.P.descr Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          +e.DIV.price 150$
          +b.DIV.btn(class="--accent --centered" data-type="order") купить
